MainArea{
    align: center middle;

}
Sources {
    margin: 1;
    min-width: 30;
    padding: 1;
    align: center middle;

}


Button {
    width: 16;
    height: 3;
}

#yt {
}

#spotify {

}

#bandcamp {
    background: blue;

}

Title{
    text-align: center;
    width: auto;
}
#title{

    text-align: center;
    color: pink;

}
Search{


    text-align: center;
    align: center middle;


}